@charset "UTF-8";
/* CSS Document */

/*Fonts*/
/*.roboto_text{font-size:18px;}
	
.roboto_text_2{font-size:18px;}

.roboto_text_3{font-size:16px;}

.roboto_text_4{font-size:16px;}
	
.roboto_text_5{font-size:18px;}	

.roboto_text_7{font-size:16px;}*/

.roboto_text_6{font-size:19px;}

.roboto_text_subtitle{font-size:16px;}

.roboto_text_nav{font-size:16px;}

.roboto_text_header{font-size:17px;}/*Used to be 15*/

.roboto_title{font-size:45px;}
	
.roboto_title_black{font-size:43px;}

.roboto_title_black_2{font-size:25px;}

a.roboto_title_header{font-size:43px;}

.roboto_title_banner{font-size:70px;}

/*Header*/
#header_content{
	width:100%;
}

#header_content_picture{
	width:20%;
	margin-left:2%;
	margin-right:2%;
}

#header_content_text{
	width:70%;
	margin-left:1%;
	margin-right:0%;
}

/*Nav*/
#nav{
	height:60px;
}

#nav_content{
	width:240px;
}

.nav_link{
	width:30px;
	height:45px;
	margin-left:15px;
	margin-right:15px;
}

.nav_link_icon{
	margin-top:15px;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
}

.nav_link_text{
	display:none;
}

#nav_divider{
	width:240px;
	margin-bottom:27px;
}

/*Banner*/
.blinking_cursor{
	margin-left:-20px;
}

/*Social*/
#back_to_top{
	padding-top:25px;
}

#back_to_top_content{
	width:100%;
	margin:0 auto;
	font-size: 19px;
}

#social{
	width:380px;
}
	
.social_circle{
	width:80px;
	height:80px;
	margin-left:32px;
}
	
#facebook, #twitter, #linkedin{
	margin-bottom:25px;
}

#facebook, #twitter, #linkedin, #googleplus, #instagram, #spotify{
	margin-right:0px;
}
	
/*Footer*/
#footer_content{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	border-top:none;
}