@charset "UTF-8";
/* CSS Document */

/*Classes and Fonts*/

.roboto_title { /*Big Title*/
	font-size:55px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	color:#FFFEFE;
	text-align:center;
	/*padding-top:7px;*/
	padding-bottom:7px;
}

.roboto_title_2 { /*Small Title*/
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 30px;
	color:#FFFEFE;
	text-align:center;
	/*padding-top:7px;*/
	padding-bottom:7px
}

.roboto_title_black { /*Big Title*/
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 55px;
	color:#161616;
	/*padding-top:7px;*/
	/*padding-bottom:7px*/
}

.roboto_title_black_2 { /*Small Title*/
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 30px;
	color:#161616;
	/*padding-top:7px;*/
	/*padding-bottom:7px*/
}

.roboto_title_banner { /*Big Banner Title*/
	font-size:140px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	color:#FFFEFE;
	text-align:center;
}

.roboto_text { /*Black Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight:300;
	color:#161616;
	word-wrap:break-word;
}

.roboto_text_2 { /*White Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight:100;
	color:#FFFEFE;
	word-wrap:break-word;
}

.roboto_text_3 { /*Smaller White Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:300;
	color:#FFFEFE;
	word-wrap:break-word;
}

.roboto_text_4 { /*Smaller Black Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight:300;
	color:#161616;
	word-wrap:break-word;
}

.roboto_text_5 { /*White Text Thin*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight:100;
	color:#FFFEFE;
	word-wrap:break-word;
}

.roboto_text_6 { /*Gray Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight:300;
	color:#4E4E4E;
	word-wrap:break-word;
}

.roboto_text_7 { /*Smaller Gray Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:300;
	color:#6B716D;
	word-wrap:break-word;
}

.roboto_text_8{ /*Light Gray Text*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight:300;
	color:#848484;
	word-wrap:break-word;
}

.roboto_text_subtitle{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight:300;
	color:#888F8A;
}

.roboto_text_header {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight:300;
	color:#848484;
}

.roboto_text_nav {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:400;
	color:#607683;
}

a.nav:link{color:#666B67; text-decoration:none;}
a.nav:visited{color:#666B67; text-decoration:none;}
a.nav:hover{color:#161616; text-decoration:none;}
a.nav:active{color:#CDCDCD; text-decoration:none;}

a:link {
   color:#F7F7F7;
   text-decoration:none;
}

a:visited {
	color:#F7F7F7;
	text-decoration:none;
}

a.link1 {color:#FFFEFE} /*From White to Black*/
a.link1:link  {text-decoration:none; color:inherit;}
a.link1:visited {text-decoration:none; color:inherit;}
a.link1:hover {text-decoration:none; color:#161616}
a.link1:active {text-decoration:none;color:#5A5A5A;}

a.link2 {color:#161616; margin-left:30px} /*From Black to Red*/
a.link2:link  {text-decoration:none; color:inherit;}
a.link2:visited {text-decoration:none; color:inherit;}
a.link2:hover {text-decoration:none; color:#CF2D2C;}
a.link2:active {text-decoration:none;}

a.link3 {color:#CF2D2C;} /*From Red to Black*/
a.link3:link  {text-decoration:none; color:inherit;}
a.link3:visited {text-decoration:none; color:inherit;}
a.link3:hover {text-decoration:none; color:#161616;}
a.link3:active {text-decoration:none;}

a.link4 {color:#161616;} /*From Black to White*/
a.link4:link  {text-decoration:none; color:inherit;}
a.link4:visited {text-decoration:none; color:inherit;}
a.link4:hover {text-decoration:none; color:#FFFEFE;}
a.link4:active {text-decoration:none;}

a.link5 {color:#161616;} /*From Black to Gray*/
a.link5:link  {text-decoration:none; color:inherit;}
a.link5:visited {text-decoration:none; color:inherit;}
a.link5:hover {text-decoration:none; color:#666B67;}
a.link5:active {text-decoration:none; color:#2C2C2C}

a.link7 {color:#607683;} /*Nav, From Dark Blue to Light Blue*/
a.link7:link  {text-decoration:none; color:inherit;}
a.link7:visited {text-decoration:none; color:inherit;}
a.link7:hover {text-decoration:none; color:#C3C5C5;}
a.link7:active {text-decoration:none; color:#161616}

a.link8 {color:#FFFEFE} /*From White to Gray*/
a.link8:link  {text-decoration:none; color:inherit;}
a.link8:visited {text-decoration:none; color:inherit;}
a.link8:hover {text-decoration:none; color:#666B67}
a.link8:active {text-decoration:none;color:#2C2C2C;}

a.link9 {color:#CDCDCD} /*From Gray to Dark Gray*/
a.link9:link  {text-decoration:none; color:inherit;}
a.link9:visited {text-decoration:none; color:inherit;}
a.link9:hover {text-decoration:none; color:#666B67}
a.link9:active {text-decoration:none;color:#666B67;}

a.link_red {color:#DE342E; text-decoration:none;} /*From Yellow to Dark Yellow*/
a.link_red:link  { color:#DE342E;}
a.link_red:visited { color:#DE342E;}
a.link_red:hover {color:#AC201B;}
a.link_red:active {color:#A2ABA4}

a.link_green {color:#2CC55D; text-decoration:none;} /*From Green to Dark Green*/
a.link_green:link  { color:#2CC55D;}
a.link_green:visited { color:#2CC55D;}
a.link_green:hover {color:#2FA541;}
a.link_green:active {color:#A2ABA4}

a.link_blue {color:#2A84D2; text-decoration:none;} /*From Blue to Dark Blue*/
a.link_blue:link  { color:#2A84D2;}
a.link_blue:visited { color:#2A84D2;}
a.link_blue:hover {color:#2567B0;}
a.link_blue:active {color:#A2ABA4}

a.link_yellow {color:#ECB910; text-decoration:none;} /*From Yellow to Dark Yellow*/
a.link_yellow:link  { color:#ECB910;}
a.link_yellow:visited { color:#ECB910;}
a.link_yellow:hover {color:#EB8D0B;}
a.link_yellow:active {color:#A2ABA4}

a.roboto_title_header { 
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size: 45px;
	color:#313f48;
}
a.roboto_title_header:link{color:#313f48;}
a.roboto_title_header:visited{color:#313f48;}
a.roboto_title_header:hover{color:#313f48;}
a.roboto_title_header:active{color:#313f48}

h1 {
	padding:0px;
	margin:0px;
}

h2 {
	padding:0px;
	margin:0px;
}

h3 {
	padding:0px;
	margin:0px;
}

.divider {
	width:60%; 
	margin-left:20%; 
	margin-right:20%; 
	height:2px; 
	margin-bottom:10px
}
