@charset "UTF-8";
/* CSS Document */

/*Header*/

/*Photos*/
#about_photos {
	background-color:#FFFEFE;
	width:100%;
	padding-bottom:75px;
}

#about_photos_title{
	width:620px;
	margin:0 auto;
	text-align:left;
}

#about_photos_content{
	width:620px;
	height:auto;
	margin:0 auto;
	text-align:left;
	line-height:35px;
}

#instagram_frame{
	width:255px;
	height:255px;
	overflow:hidden;
	margin:0 auto;
}

.picture_subtitle{
	width:620px; 
	margin:0 auto; 
	text-align:center;
	padding-top:25px;
}

#photos{
	background-color:#FFFEFE;
	width:100%;
	height:auto;
	text-align:center;
}

.photo{
	width:1000px;
	height:auto;
	margin:0 auto;
}

.photos_content{
	width:620px;
	height:auto;
	text-align:left;
	padding-bottom:50px;
	margin:0 auto;
	line-height:35px;
}






.projects_date{
	width:620px;
	margin:0 auto;
	text-align:left;
	padding-bottom:15px;
}


/*Social*/

/*Footer*/