<div class="l-middle dissertation-wrapper">

    <div class="dissertation-cover">
        <a href="../papers/fred-hohman-thesis.pdf">
            <img src="../images/dissertation-cover.png">
        </a>
    </div>

    <div class="dissertation-info">
        <div>
            <p><b>Interactive Scalable Interfaces for Machine Learning Interpretability</b></p>
            <p>Fred Hohman</p>
            <p><i>Dissertation, Georgia Tech, 2020.</i></p>
            <p>195 pages. 28 MB.</p>
            <p class="cv-award"><i class="fas fa-trophy" aria-hidden="true"></i> ACM SIGCHI Dissertation Award</p>
        </div>

    </div>

</div>