<p>
	<span class="cv-left-date">{{ explorable.month }} {{ explorable.year }}</span>{% if explorable.year-extra %}<span class="cv-left-date-mobile">{{ explorable.year-extra }}</span>{% endif %}<a href="{{ explorable.url }}"><strong>{{ explorable.title }}</strong></a>{% if explorable.parametric %}<span class="parametric-press"> on <a href="{{ explorable.parametric-url }}">{{ explorable.parametric-title }}</a></span>{% endif %}
	<br>
	{% if explorable.authors %}
	{% for person in explorable.authors %}
	{% if forloop.last == false %}
		{% include person.html person=person %},	
	{% else if forloop.last == true %}
		{% include person.html person=person %}
	{% endif %}
	{% endfor %}
	<br>
	{% endif %}
	<!-- {% if explorable.year-extra %}<span class="cv-left-date-extra">{{ explorable.year-extra }}</span>{% endif %} -->
	<span class="cv-description">{{ explorable.description }}{% if explorable.award %}, <span class="cv-award"><i class="fas fa-star" aria-hidden="true"></i> {{ explorable.award }}</span>{% endif %}
	</span>
</p>