<footer>
	
	<div class="footer">

		<div class="social">
		  	<a href="http://www.twitter.com/fredhohman"><img class="social-icon" src="/images/footer/twitter.svg"></a>
		  	<a href="http://www.linkedin.com/in/fredhohman"><img class="social-icon" src="/images/footer/linkedin.svg"></a>
		  	<a href="https://plus.google.com/u/0/+FredHohman/posts"><img class="social-icon" src="/images/footer/google+.svg"></a>
		  	<a href="https://www.instagram.com/fredhohman"><img class="social-icon" src="/images/footer/instagram.svg"></a>
		  	<a href="https://open.spotify.com/user/fred.hohman"><img class="social-icon" src="/images/footer/spotify.svg"></a>
		  	<a href="https://www.youtube.com/user/fredhohman/playlists"><img class="social-icon" src="/images/footer/youtube.svg"></a>
	  	</div>

		<strong>&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Fred Hohman. All rights reserved.</strong>
		<br/>
		{% for page in site.nav_list %}
			<a href="{{ page[1] }}">{{ page[0] }}</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
		
		<br/>
		
		Contact me at <code>fredhohman@gatech.edu</code>

	</div>

</footer>