<footer>
	<div id="footer-left">
		<a href="mailto:fredhohman@apple.com"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/fredhohman"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/fredhohman"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/fredhohman"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://vis.social/@fredhohman" rel="me"><i class="fa-lg fab fa-mastodon footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=1w0TLT8AAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Fred Hohman
	</div>
	<div id="footer-right">
		Fred Hohman is a Research Scientist at Apple creating interactive interfaces and data visualizations for machine learning.
	</div>
</footer>
