<head>
  <meta charset="utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gaegu:300,700" rel="stylesheet">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Share card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@fredhohman" />
  <meta name="twitter:creator" content="@fredhohman" />
  <meta property="og:url" content="https://fredhohman.com/" />
  <meta property="og:title" content="Fred Hohman" />
  <meta property="og:description" content="Fred Hohman is a Ph.D. candidate in the College of Computing at Georgia Tech researching the intersection of data visualization and machine learning." />
  <meta property="og:image" content="http://fredhohman.com/images/share.png" />


  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=xQdLjRyXLj">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=xQdLjRyXLj">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=xQdLjRyXLj">
  <link rel="manifest" href="/icons/site.webmanifest?v=xQdLjRyXLj">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=xQdLjRyXLj" color="#313131">
  <link rel="shortcut icon" href="/icons/favicon.ico?v=xQdLjRyXLj">
  <meta name="msapplication-TileColor" content="#313131">
  <meta name="msapplication-config" content="/icons/browserconfig.xml?v=xQdLjRyXLj">
  <meta name="theme-color" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42146340-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
