<header id="masthead">
	<h1>
  		<a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
  		<!-- <div class="mastheadspacer"/></div> -->
   		<!-- <span class="masthead-slash">/</span> -->
   		<!-- <small>{{ site.tagline }}</small> -->
	</h1>
	<nav>
		<a href="{{ site.url }}/cv"><div><i class="fa fa-portrait icon icon-right-space"></i>CV</div></a>
		<a href="{{ site.url }}/projects"><div><i class="fa fa-shapes icon icon-right-space"></i>Projects</div></a>
		<a href="{{ site.url }}/everything-else"><div><i class="fa fa-list-ul icon icon-right-space"></i>Everything Else</div></a>
		<!-- <a href="{{ site.baseurl }}/cv">CV</a>
		<a href="{{ site.baseurl }}/projects">Projects</a>
		<a href="{{ site.baseurl }}/everything-else">Everything Else</a> -->
	</nav>
</header>