# {{ pub.title }}
<p>
{% for person in pub.authors %}
  {% if forloop.last == false %}
    {% include person.html person=person %}{% for p in pub.equal-contribution %}{% if person == p %}*{% endif %}{% endfor %},
  {% else if forloop.last == true %}
    {% include person.html person=person %}{% for p in pub.equal-contribution %}{% if  person  == p %}*{% endif %}{% endfor %}
  {% endif %}
{% endfor %}
</p>

{% if paperPage.figure %}
<figure>
    <img class="single" src="{{ paperPage.figure }}">
    <figcaption class="single">
      {{ paperPage.caption }}

    </figcaption>
</figure>
{% endif %}

## Abstract
{{ paperPage.abstract }}

## Citation
{% include publication.html pub=pub %}

## BibTeX
```
{{ pub.bibtex }}

```