* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
}

body {
  color: $text-color;
  background-color: $bg-color;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}




// No `:visited` state is required by default (browsers will use `a`)
// a {
//   color: #2196F3;
//   text-decoration: none;

//   // -webkit-transition: 0.15s color ease;
//   //    -moz-transition: 0.15s color ease;
//   //     -ms-transition: 0.15s color ease;
//   //      -o-transition: 0.15s color ease;
//   //         transition: 0.15s color ease;


//   // `:focus` is linked to `:hover` for basic accessibility
//   &:hover, &:focus {
//     text-decoration: underline;
//   }

//   strong {
//     color: inherit;
//   }
// }

// a:hover {
// }

// img {
//   display: block;
//   max-width: 100%;
// }

// table {
//   margin-bottom: 1rem;
//   width: 100%;
//   font-size: 85%;
//   border: 1px solid #e5e5e5;
//   border-collapse: collapse;
// }

// td,
// th {
//   padding: .75rem .75rem;
//   border: 1px solid #e5e5e5;
// }

// th {
//   text-align: left;
// }

//tbody tr:nth-child(odd) td,
//tbody tr:nth-child(odd) th {
//  background-color: #f9f9f9;
//}

// .my-cv {
//   border: 1px #eeeeee solid;
//   padding: 15px;
//   background-color: #eeeeee;
// }
