button {
  // color: $blue;
  font-size: 0.75rem;
  padding-top: 0.65rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: $white;
  border: solid 1px $blue;

    -webkit-transition: 0.35s color ease, 0.35s background-color ease;
       -moz-transition: 0.35s color ease, 0.35s background-color ease;
        -ms-transition: 0.35s color ease, 0.35s background-color ease;
         -o-transition: 0.35s color ease, 0.35s background-color ease;
            transition: 0.35s color ease, 0.35s background-color ease;
}

button:hover, button.hover {
  border-color: $blue;
  background-color: $blue;
  color: $white;
  cursor: pointer;
}

button:hover a {
  text-decoration: none;
  color: $white;
}