.cover-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cover {
  // background: #ffffff;
  height: 11*24px; //33
  width: 8.5*24px; //33
  margin: 0.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  text-align: left;
  padding: 15px;
  // padding-top:40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%)
}

.cover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-decoration: none;
}

.cover-title {
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 10px;
}

.cover-top{

}

.cover-subtitle {
  font-size: 11px;
  text-transform: capitalize;
  color: #919191;
}

.cover-authors {
  font-size: 11px;
  // color: #717171;
  // color: #2196F3;
}

.cover-footer-wrapper {
  display: flex;
  justify-content: space-between; 
}

.cover-venue, .cover-year {
  font-size: 10px;
  // font-weight: 300;
}
