// Figures

figure { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

figure figcaption { 
    display: block;
    text-align: center;
    color: #B0B6BB;
    font-size: 16px;
}

figure figcaption.classic {
    width: 100%;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption.single {
    width: 100%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    float: left;
    margin-bottom: 0.5em;
}

// Full size image
figure img.full {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

//Single image
figure img.single {
    float: none;
    width: 100%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

//Classic
figure img.classic {
    float: none;
    width: 100%;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

figure img.iphone {
    float: none;
    max-width: 18em;
    margin-left: auto;
    margin-right: auto;
}

// Two images side by side
figure img.lhalf {
    max-width: 49.5%;
    margin-right: 0.5%;
}

figure img.rhalf {
    max-width: 49.5%;
    margin-left: 0.5%;
}

// Three images side by side by side
figure img.lthird {
    max-width: 32.5%;
    margin-right: 0.625%;
}

figure img.mthird {
    max-width: 32.5%;
    margin-left: 0.625%;
    margin-right: 0.625%;
}

figure img.rthird {
    max-width: 32.5%;
    margin-left: 0.625%;
}

//Videos side by side
figure video.lhalf {
    margin-bottom: 0.5em;
    float: left;
    max-width: 49.5%;
    margin-right: 0.5%;
}

figure video.rhalf {
    margin-bottom: 0.5em;
    float: left;
    max-width: 49.5%;
    margin-left: 0.5%;
}