// Figures

figure { 
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

figure figcaption { 
    display: block;
    text-align: center;
    color: $gray;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.figure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
}

.figure-grid-left {
    grid-column: 1 / 2;
}

.figure-grid-right {
    grid-column: 2 / 3;
}


// // Three images side by side by side
// figure img.lthird {
//     max-width: 32.5%;
//     margin-right: 0.625%;
// }

// figure img.mthird {
//     max-width: 32.5%;
//     margin-left: 0.625%;
//     margin-right: 0.625%;
// }

// figure img.rthird {
//     max-width: 32.5%;
//     margin-left: 0.625%;
// }

// //Videos side by side
// figure video.lhalf {
//     margin-bottom: 0.5em;
//     float: left;
//     max-width: 49.5%;
//     margin-right: 0.5%;
// }

// figure video.rhalf {
//     margin-bottom: 0.5em;
//     float: left;
//     max-width: 49.5%;
//     margin-left: 0.5%;
// }