footer {
	background-color: $footer-bg;
    color: $footer-text;
	padding-bottom: 3rem;
	padding-top: 3rem;
	margin-top: 2em;
}

#footer-left {
    grid-column: text-start / 8;
}

#footer-left > time {
    color: $footer-text;
}

#footer-right {
    grid-column: 8 / text-end;
}

.footer-icon {
    margin-right: 0.75rem;
    color: $footer-text;
}

@media screen and (max-width: $mobile) {
	#footer-left, #footer-right {
        grid-column: page;
    }

    #footer-left {
        margin-bottom: 1rem;
    }
}
