$cv-icon-aspect-ratio: 1.33;

#intro-wrapper > div, .intro-text {
	font-size: 1.2em;
}

#intro-wrapper {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 2rem;
	grid-auto-rows: minmax(3rem, auto);
	grid-row-gap: 1rem;
	margin-top: 3rem;
}

.intro-left {
	grid-column: 1 / 6;
}

.intro-right {
	grid-column: 6 / 9;
}

#intro-image {
	grid-row: 2;
}

#intro-title-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 1 / 9;
	margin-bottom: 1.5rem;
}

#intro-title {
	color: $near-black;
	font-weight: 600;
	margin-bottom: 0rem;
	margin-top: 0rem;
	font-size: 3rem;
}

#intro-subtitle {
	font-size: 1.57rem;
	color: $silver;
}

#intro-subtitle-link {
	color: $blue;
}

#intro-image-links {
	grid-row: 3;
	background-color: $near-white;
	border-left: 2px solid $moon-gray;
	padding: 1rem;
	font-size: 1rem !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#intro-cv-wrapper {
	grid-row: 4;
	background-color: $intro-blue;
	border-left: 2px solid $light-blue;
	padding: 1rem;
	font-size: 1rem !important;
}

#intro-cv > a {
	color: $text-color;
}

.intro-logo {
	display: inline;
	width: 21px;
	vertical-align: middle;
}

.feature-title {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: 400;
}

.feature-title > a {
	font-weight: 600;
}

#everything-else {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#everything-else > a {
	border: 1px solid $border-color;
	padding: 1rem 0.75rem;
	margin: 0.25rem;
	text-align: center;
	grid-column: 1fr;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#everything-else > a:hover {
	border: 1px solid $dark-gray;
	text-decoration: none;
}


@media screen and (max-width: $homepage-pre-mobile) {
	#intro-wrapper, .feature-title, .intro-text, .home-hr {
		grid-column: page !important;
	}
	.cover-wrapper {
		max-width: 800px; // limit feature covers to two per row on small window size
	}
	#everything-else {
		grid-column: page !important;
	}
}

@media screen and (max-width: $mobile) {
	.intro-left, .intro-right {
        grid-column: 1/9;
	}
	
	#intro-title-wrapper { grid-row: 1 / 2; }
	#intro-image { grid-row: 2 / 3; }
	#intro-image-links { grid-row: 3 / 4; }
	#intro-right-cv { grid-row: 4 / 5; }

	#intro-image, #intro-image-links, #intro-right-cv {
		grid-column: 1 / 6;
	}

	#intro-subtitle {
		line-height: 1.5;
	}

	#everything-else {
		grid-template-columns: repeat(1, 1fr);
	}
}
