$cv-icon-aspect-ratio: 1.33;

#intro-wrapper > div, .intro-text {
	font-size: 1.2em;
}

#intro-wrapper {
	margin-top: 3rem;
}

#intro-title-wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

#intro-image-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#intro-image {
	border-radius: 5rem;
	height: 8rem;
	width: 8rem;
}

#intro-title-text-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	justify-content: center;
}

#intro-title {
	color: $near-black;
	font-weight: 600;
	margin-bottom: 0rem;
	margin-top: 0rem;
	font-size: 2.5rem;
}

#intro-subtitle {
	font-size: 1.57rem;
	color: $silver;
}

#intro-title-socials {
	margin-top: 0.25rem;
	display: flex;
	grid-gap: 0.5rem;
}

.social-link {
	display: flex;
	background-color: $black-025;
	border-radius: 2.5rem;
	transition: all .2s ease-in-out;
	color: $text-color;
	height: 2.5rem; // must match .social-link > i {height}
}

.social-link > i {
	text-align: center;
	height: 2.5rem;
	width: 2.5rem;
	line-height: 2.5rem;
}

.social-link:hover {
	text-decoration: none;
	background: $black-05;
	// transform: scale(1.03);
}

.social-link-text-wrapper > a {
	color: $text-color;
}

.icon-right-space {
	margin-right: 0.5rem
}

#intro-cv-wrapper {
	background-color: $intro-blue;
	border-radius: 0.5rem;
	padding: 1rem;
	font-size: 1rem !important;
}

#intro-cv > a {
	color: $text-color;
}

.intro-logo {
	display: inline;
	width: 21px;
	vertical-align: middle;
}

.home-hr {
	margin: 2.5rem 0;
	
}

.feature-title {
	margin-top: 0rem;
	margin-bottom: 0rem;
	font-size: 2rem;
	font-weight: 600;
	// text-align: center;
}

.feature-title > a {
	font-weight: 600;
}

.feature-text {
	grid-column: text;
	padding-bottom: 1rem;
	font-size: 1.2rem;
}

.feature-more {
	background-color: $black-025;
	border-radius: 1rem;
	// display: flex;
	// flex-direction: column;
	justify-content: center;
	width: 6rem;
	height: 2rem;
	border-radius: 2rem;
	text-align: center;
}

#everything-else {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 1.5rem;
}

#everything-else > a {
	background-color: $black-025;
	border-radius: 5rem;
	padding: 0.75rem 0.75rem;
	margin: 0.25rem;
	text-align: center;
	grid-column: 1fr;
	transition: all .2s ease-in-out;
	font-size: 1rem;
	color: $text-color;
	font-weight: 500;
}

#everything-else > a:hover {
	text-decoration: none;
	background: $black-05;
	transform: scale(1.03);
}

@media screen and (max-width: $homepage-pre-mobile) {
	#intro-wrapper, .feature-title, .feature-text, .intro-text, .home-hr {
		grid-column: page !important;
	}
	#everything-else {
		grid-column: page !important;
		display: flex;
		flex-direction: row;
	}
}

@media screen and (max-width: $mobile) {
	#intro-image {
		height: 5rem;
		width: 5rem;
	}

	#intro-title {
		font-size: 2rem;
	}

	#intro-subtitle {
		font-size: 1.35rem;
	}

	#everything-else {
		display: flex;
		flex-direction: row;
	}

	#everything-else > a {
		background-color: $black-025;
		border-radius: 5rem;
		padding: 0.5rem 1.15rem;
		margin: 0.25rem;
		// font-size: 1.1rem;
		color: $text-color;
		font-weight: 500;
	}
}
