// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;

  @media (max-width: 41em) {
    padding-left: 1em;
    padding-right: 1em,;
    /*text-align: center;*/
  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  /*color: #505050;*/
  color: #303030;
 
  a {
    /*color: #505050;*/
    color: #303030;
  }

  a:hover{
	color: #505050;  /* Fallback: assume this color ON TOP of image */
	background: url(images/title.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  small {
    font-size: 60%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}

.mastheadspacer{
	display: none;
	@media (max-width: 41em) {
		display:block;
  		}
}

nav {
  border-bottom: 1px #ECECEC solid;
  margin-bottom: 3em;
  padding-bottom: 1em;
  padding-top: 0.25em;


  @media (max-width: 41em) {
  padding-left: 1em;
  padding-right: 1em,;
/*  text-align: center;
*/  }

}

.nav {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  font-size: 500;
}

.masthead-slash{
  display: none;
  color: #2196F3;
  font-size: 75%;
}

@media (min-width: 41em) {
  .masthead-slash{display: inline}
}
