$author-size: 125px;
$author-image-size: 80px;

#paper-title-wrapper {
	background-color: $near-white;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $border-color;
}

#paper-title-wrapper > h1 {
	grid-column: middle;
	line-height: 1.25;
	margin-top: 0rem;
	// color: $gray;
	text-align: center;
}

#author-wrapper {
	grid-column: text;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 0.875rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.author {
	text-align: center;
	font-size: 1.1em;
	line-height: 1.25;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.author-image {
	height: $author-image-size;
	width: $author-image-size;
	border-radius: $author-image-size/2;
	margin: 0 auto;
	margin-bottom: 0.5rem;
}

.author > a {
	color: $text-color;
}

#venue, #paper-award, #paper-equal-contribution {
	grid-column: text;
	color: $mid-gray;
	font-size: 1.1em;
}

#paper-award {
	color: $gold;
	margin-top: 0.5rem;
}

#paper-equal-contribution {
	margin-top: 0.5rem;
}

#paper-materials {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#paper-materials > a {
	border: 1px solid $border-color;
	padding: 0.75rem;
	margin: 0.25rem;
	text-align: center;
	grid-column: 1fr;
}

#paper-materials > a:hover {
	border: 1px solid $dark-gray;
	text-decoration: none;
}

@media screen and (max-width: $mobile) {
	#author-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	#paper-title-wrapper > h1 {
		text-align: left;
	}

	#paper-materials {
		grid-template-columns: repeat(2, 1fr);
	}
}


// .paper figcaption {
// 	text-align: left !important;
// }

// .paper figure figcaption.single {
//     width: 100%;
//     max-width: 55em;
//     // margin-left: auto;
// 	// margin-right: auto;
// 	font-size: 14px;
// }
