table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

td, th {
  padding: 0.75rem 0.75rem;
  border: 1px solid $table-border-color;
}

th {
  text-align: left;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
 background-color: $table-row-color;
}