h1, h2, h3, h4, h5, h6 {
  // text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

a {
  color: $blue;
  text-decoration: none;
  // text-decoration-color: $light-blue;

  // -webkit-transition: 0.15s color ease;
  //    -moz-transition: 0.15s color ease;
  //     -ms-transition: 0.15s color ease;
  //      -o-transition: 0.15s color ease;
  //         transition: 0.15s color ease;

}

a:hover, a:focus {
  color: $dark-blue;
  text-decoration: underline;
  text-decoration-color: $light-silver;
}

hr {
  // position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid $border-color;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

blockquote {
  padding: 0rem 1rem;
  margin: 0rem;
  color: $gray;
  border-left: 0.25rem solid $light-gray;

  @media (max-width: $mobile) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

// Footnote number within body text, Back to footnote link
a[href^="#fn:"], a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Paragraph modifier for larger introductory text
.lead {
  font-size: 1.3rem;
  font-weight: 300;
  color: $dark-gray;
}

time {
  color: $gray;
}

ul, ol {
  padding-left: 1rem;
   
  @media (max-width: $mobile) {
    padding-left: 1rem;
  }
}