// Brekapoints
// Old
$on-phone: 600px;
$on-laptop: 900px;

// New
$mobile: 768px;

// Colors
$text-color: #515151;
$bg-color: #ffffff;
$border-color: #eeeeee;
$main-color: #0000ff;

$footer-bg: #1E1E24;
$footer-text: #e6e6e6;
