<div class="cv-left-date">{{ article.month }} {{ article.year }} {{ article.year-extra }}</div>
<div><a href="{{ article.url }}"><b>{{ article.title }}</b></a>{% if article.parametric %}<span class="appears-on"> on <a href="{{ article.parametric-url }}">{{ article.parametric-title }}</a></span>{% endif %}</div>

<div>
	{% if article.authors %}
		{% for person in article.authors %}
			{% if forloop.last == false %}
				{% include person.html person=person %},	
			{% else if forloop.last == true %}
				{% include person.html person=person %}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

<div class="cv-description">{{ article.description }}{% if article.award %}, <span class="cv-award"><i class="fas fa-star" aria-hidden="true"></i> {{ article.award }}</span>{% endif %}</div>

{% if article.parametric-issue %}
<div>
	<div class="cv-spacer-medium"></div>
	
	{% assign issue-number = article.parametric-issue-number %}
	{% assign issue-articles = site.data.parametric-articles | where: 'parametric-issue-number', issue-number %}

	{% for grouped-article in issue-articles %}
		
		{% if article.parametric-issue-number == grouped-article.parametric-issue-number %}
			{% include cv/grouped-article.html grouped-article=grouped-article %}
		{% endif %}

		{% if forloop.last == false %}
			<div class="grouped-article cv-spacer-medium"></div>
		{% endif %}

	{% endfor %}
</div>
{% endif %}

{% if article.apple %}
{% for grouped-article in site.data.apple-articles %}
{% include cv/grouped-article.html grouped-article=grouped-article %}
{% if forloop.last == false %}
<div class="grouped-article cv-spacer-medium"></div>
{% endif %}
{% endfor %}
{% endif %}

<div class="cv-spacer"></div>
