<p>
	<span class="cv-left-date">{{ article.month }} {{ article.year }}</span>{% if article.year-extra %}<span class="cv-left-date-mobile">{{ article.year-extra }}</span>{% endif %}<a href="{{ article.url }}"><strong>{{ article.title }}</strong></a>{% if article.parametric %}<span class="parametric-press"> on <a href="{{ article.parametric-url }}">{{ article.parametric-title }}</a></span>{% endif %}
	<br>
	{% if article.authors %}
	{% for person in article.authors %}
	{% if forloop.last == false %}
		{% include person.html person=person %},	
	{% else if forloop.last == true %}
		{% include person.html person=person %}
	{% endif %}
	{% endfor %}
	<br>
	{% endif %}
	<!-- {% if article.year-extra %}<span class="cv-left-date-extra">{{ article.year-extra }}</span>{% endif %} -->
	<span class="cv-description">{{ article.description }}{% if article.award %}, <span class="cv-award"><i class="fas fa-star" aria-hidden="true"></i> {{ article.award }}</span>{% endif %}
	</span>
</p>