<p>
	<span class="cv-left-date">{{ mentee.year }}</span>{% if mentee.year-extra %}<span class="cv-left-date-mobile">{{ mentee.year-extra }}</span>{% endif %}<a href="{{ mentee.url }}"><strong>{{ mentee.name }}</strong></a>
	<br>
	<span class="cv-left-date-extra">{{ mentee.year-extra }}</span><i>{{ mentee.degree }}</i>
	<br>
	<span class="cv-description">{{ mentee.description }}</span>
	<br>
	{% if mentee.awards %}
		{% for award in mentee.awards %}
			<span class="cv-description"><i class="fas fa-award" aria-hidden="true"></i> {{ award }}</span>
			<br>
		{% endfor %}
	{% endif %}
	{% if mentee.now-position %}
	<span class="cv-description">Now: {{ mentee.now-position }} at <a href="{{ mentee.now-institution-url }}">{{ mentee.now-institution }}</a></span>
	{% endif %}
</p>