<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <body>
  
    <!-- {% include header.html %} -->
    <!-- {% include nav.html %} -->
    <div style="height: 30px"></div>

    <div class="container content">

      <main>
        <article id="cv" class="page">
          {{ content }}
        </article>        
      </main>

    </div>

    {% if page.jsarr %}
      {% for js in page.jsarr %}
      <script>
        {% include {{ js }} %}
      </script>
      {% endfor %}
    {% endif %}
  </body>
</html>
